header{
   display: flex;
   border-bottom: .5px solid #eceff1;
   padding: 21px;
   height: 10vh;
   align-items: center;
}
.logo-img{
   width: 30px;
   height: 30px;
   position: relative;
   top: 4px;
}
.logo{
   font-family: 'prodact-sans';
   font-size:23px;
   color: #5f6368;
   letter-spacing: .8px;
   margin-inline-end: 8.7rem;
}