header {
    display: flex;
    border-bottom: .5px solid #eceff1;
    padding: 21px;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 4px;
}

.logo {
    font-family: 'prodact-sans';
    font-size: 23px;
    color: #5f6368;
    letter-spacing: .8px;
    width: 255px;
}

.menu-icon-container {
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 50%;
    flex-grow: 7;
}

.menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.logo-and-filter{
    display: flex;
    flex-grow: 10;
}