.my-body {
    margin: 0;
    padding: 0;
    background-image: url(../imgs/try.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
}

.home-page-img {
    height: 50px;
    width: 50px;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(5, var(--cell-size));
    grid-template-rows: repeat(8, var(--cell-size));
    gap: 1vw;
    --cell-size: 18vw;
    margin: 4vw;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    background-color: #87a4a599;
    border-radius: 10px;
    font-family: Montserrat;
    break-inside: avoid;
    color: whitesmoke;
}

article>h3 {
    margin-bottom: 0.6em;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    color: burlywood;
}

article>p {
    margin-bottom: 0.6em;
    font-size: .7em;
}

article:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 1;
}

article:nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 5;
}

article:nth-child(4) {
    grid-row-start: 2;
    grid-column-start: 2;
}

article:nth-child(5) {
    grid-row-start: 3;
    grid-column-start: 5;
}

article:nth-child(6) {
    grid-row-start: 4;
    grid-column-start: 1;
}

article:nth-child(7) {
    grid-row-start: 5;
    grid-column-start: 2;
}

article:nth-child(8) {
    grid-row-start: 7;
    grid-column-start: 1;
}

article:nth-child(9) {
    grid-row-start: 8;
    grid-column-start: 6;
}

@media screen and (max-width: 850px) {
    .main-grid {
        display: block;
        margin: 2vw;
    }
    .main-grid article {
        width: 26%;
        margin-bottom: 1em;
    }
    article:first-of-type {
        margin-top: 6vw;
    }
    article:nth-of-type(3n) {
        margin-left: 6vw;
    }
    article:nth-of-type(2n) {
        margin-left: 3vw;
    }
}