.main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    right: 21px;
    top: 78px;
    z-index: 2;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 18px 0 grey;
    background-color: white;
}

.nav-link {
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(14, 14, 14);
    font-size: 0.875em;
    border-radius: 5px;
}

.nav-link img {
    height: 50px;
    width: 50px;
    margin-bottom: 3px;
}

@media (max-width: 750px) {
    .main-nav {
        right: 0;
        top: 74px;
    }
}

.nav-link:hover {
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    background-color: rgb(66 133 244 / 20%)
}