.preview{
    display: flex;
    flex-direction: column;
}
.email-preview {
    display: flex;
    align-items: center;

    height: 2.5rem;

    font-size: .875rem;

    border-bottom: .5px solid #eceff1;
    cursor: pointer;
}

.email-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 2;
}


.star-preview {
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/star_border_black_20dp.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    opacity: 0.10;
    margin-inline: 15px;
}

.preview-from {
    width: 10rem;
    margin-inline-end: 2rem;
}

.subject,
.preview-from,
.time-preview {
    font-family: roboto-bold;

}
.time-preview{
    background-color: #fff;
    position: relative;
    width: 100px;
    padding:0 0 0 1.5rem;

}
.preview-text {
    max-width: 50%;
    display: flex;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: clip;

}

.body {
    color: #5f6368;
}

.end-preview {
    align-items: center;
    width: 7rem;
    justify-content: space-between;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    position: absolute;
    right: 0;
    display: none;
    background-color: #fff;
}

.trash-email {
    margin: 0;
}

.archive-email,
.mark-read {
    width: 1rem;
    height: 1rem;
}

.archive-email {
    background-image: url('https://www.pngkey.com/png/detail/876-8761970_download-button-comments-icon-png-archive-icon.png');
}

.mark-read {
    background-image: url('https://static.thenounproject.com/png/2300516-200.png');
}

.email-preview:hover .time-preview {
    display: none;
}

.email-preview:hover .end-preview {
    display: flex;
}

.time-preview {
    position: absolute;
    right: 0;
}

.symbol:hover {
    opacity: 1;
}

.symbol {
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    opacity: 0.54;
}

.star-preview {
    opacity: 0.1;
}

.star-active{
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/star_googyellow500_20dp.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    opacity: 1;
    margin-inline: 15px;
}