.email-list {
  list-style: none;
  position: relative;

  height: 89vh;
  overflow: auto;
  flex-shrink: 10;
  flex-basis: 1050px;
}

/* 
  /* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-track:hover {
  background: #ebe8e8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  max-height: 10px;
  background: #d6cfcf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 179, 179);
}

::-webkit-scrollbar {
  width: 12px;
}