.book-add {
    background-color: white;
    position: fixed;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: auto;
    max-width: 600px;
    height: 500px;
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
    border-radius: 8px;
}

.book-add-content {
    padding: 25px;
    height: 100%;
}

.book-add header {
    height: 20px;
    background-color: #404040;
    color: white;
    border-radius: 8px 8px 0 0;
    letter-spacing: .2px;
    font-family: roboto-bold;
    padding-inline: 1rem;
}

.add-book-list {
    list-style: none;
}

.add-book-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.add-book-btn {
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 3px;
    border-radius: 4px;
    border-width: 0;
}

.add-book-btn:hover {
    background-color: #e8eaed71;
}