.book-details {
    margin-bottom: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

@media (max-width: 860px) {
    .book-details {
        max-width: 600;
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .book-details img {
        width: 100%;
    }
}

.book-details img {
    margin-inline-end: 1.2rem;
}

.book-details h2 {
    font-size: 2.4rem;
}

.book-details h4 {
    margin-block-end: 0.2em;
}

.more-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-block-start: 0.2em;
}

.book-details .price {
    font-size: 2rem;
}

.book-details .author {
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
}

.book-details .bookDate {
    margin-block-end: 0.2em;
}

.more-details .detail {
    margin-inline-end: 1rem;
    padding: 3px;
    margin-inline-end: 0.2rem;
}

.more-details .tags {
    margin: 0;
    padding: 0;
    padding: 3px;
    margin-inline-end: 0.2rem;
    list-style-type: none;
    display: flex;
}

.more-details .tag {
    padding: 3px;
    background-color: #cbf0f8;
    margin-inline-end: 0.2rem;
}