.email-compose-container {
    width: 478px;
    height: 432px;
    position: fixed;
    right: 4.5rem;
    bottom: 0;
    font-size: .875rem;

    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
}

.email-compose-container header {
    border-radius: 8px 8px 0 0;
    letter-spacing: .2px;
    font-family: roboto-bold;
    padding-inline: 1rem;
    padding-block: 0.625rem;
    background-color: #404040;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    font-family: roboto;
}

.content input {
    padding-block: .5rem;

    border: none;
    border-bottom: .5px solid #eceff1;
}

.content input::placeholder {
    font-size: .875rem;
}

.body-input {
    height: 16.5rem;
}

.content input:focus {
    outline: none;
}

.send {
    background-color: #1a73e8;
    border: none;
    height: 2.25rem;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.send:hover {
    background-color: #297be6;
    outline: 1px solid transparent;
}

.close-compose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.close-compose:hover{
    background-color: rgba(255, 255, 255, 0.445);
}