@font-face {
    font-family: 'prodact-sans-bold';
    src: url('/fonts/prodact-sans/ProductSansBold.ttf');
}

@font-face {
    font-family: 'prodact-sans';
    src: url('/fonts/prodact-sans/ProductSansRegular.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts//roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('/fonts//roboto/Roboto-Bold.ttf');
}