    .keep-preview {
        break-inside: avoid;
        margin: 0 1rem 1rem 0;
        vertical-align: baseline;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 3px;
    }
    
    .keep-type-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }
    
    .keep-preview img {
        max-width: 100%;
        object-fit: cover;
        border-radius: 3px;
    }
    
    .todo-complete {
        text-decoration: line-through;
    }
    
    .todo-uncomplete {
        text-decoration: none;
    }
    
    .next-todo-input {
        width: 100%;
        background-color: transparent;
        border: none;
        font-size: 1.2em;
        height: 1.5em;
        padding-left: 5px;
        margin-top: .1em;
    }
    
    .todo-remove-btn {
        font-size: .8em;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }