    .book-filter-text {
        display: flex;
        height: 2.5rem;
        background-color: #f1f3f4;
        border-radius: 8px;
        width: 50%;
        justify-content: center;
        margin: auto;
    }
    
    .book-filter-text input {
        height: 100%;
        border: none;
        background-color: transparent;
        font-size: 1rem;
        font-family: roboto;
        flex-grow: 1;
        color: #3c4043;
    }
    
    .book-filter-text input:focus {
        outline: none;
    }
    
    .book-filter-text svg {
        width: 24px;
        height: 24px;
        margin: .5rem;
        cursor: pointer;
    }
    
    .book-filter-text-active {
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
        transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .filter-containers {
        flex-grow: 1;
        flex-direction: column;
    }
    
    .book-multi-filter {
        position: relative;
        top: 10px;
        left: 25%;
        background-color: #fff;
        z-index: 1;
        width: 50%;
        font-size: .875rem;
        letter-spacing: .2px;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
        transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    select {
        cursor: pointer;
    }