
.text-container-book{

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  
    width: 180px;
    text-transform: capitalize;
    font-size: .875rem;
    font-family: arial,sans-serif;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    justify-self: center;

    line-height: 20px;
}

.book-preview .title{
    color: #202124;
    font-size: 1rem;
}

.price{
    font-size: 1rem;
    color: #4285f4;
}
.state ,.writer{
    color: #767879 ;
}

.book-preview img {
    width:180px ;
    border-radius: .5rem .5rem 0 0;
    
}


/* book-list */
.book-list {
    margin-inline: 8rem;
}

.book-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-block-start: 50px;
}

.book-list li {
    border: .5px solid #eceff1;
    border-radius: .5rem;
    width: 180px;
    height: 280px;
    padding-block-end: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-end:40px;
    padding-block-end:40px;
}

.book-list li:hover{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
}

.book-list .actions {
    position: absolute;
    justify-self: flex-end;
}

.info-btn {
    text-decoration: none;
}
